hr{
    height: 3px;
    width: 15%;
    background-color:#3b71ca;
    border: none;
    border-radius: 5px;
    margin: auto;
}

.format-text{
   padding: 15px !important;
   font-weight: 800 !important;
   font-size: 34px !important;
   border-radius: 0 20px !important;
}

.format-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}

.format-btn button{
    color: #3b71ca;
    background-color: white;
    border: 1px solid #3b71ca;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 5px;
    
}

.format-btn .btn-count{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #3b71ca;
    color: white;
    font-weight: 900;

    
}